<div id="pageContent" xmlns:th="http://www.thymeleaf.org" class="uk-width-3-5 uk-width-1-2@l">
    <div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-height-viewport="expand: true">
        <div th:each="dtoItemTypeCard : ${itemTypes}" class="uk-card uk-card-small uk-card-body uk-width-1-1 uk-margin-small">
            <div th:replace="fragment/itemcard/cardType :: cardType"></div>
        </div>
    </div>
</div>