<div id="pageContent" xmlns:th="http://www.thymeleaf.org" class="uk-width-3-5 uk-width-1-2@l">
    <div th:if="${contentOwner != null}" th:remove="tag">
        <div th:if="${user.id == contentOwner.id}" class="uk-card uk-card-small uk-card-body uk-width-1-1 uk-padding-remove uk-margin-small-top">
            <p class="uk-text-justify"><span th:text="${user.login}" th:remove="tag"></span>, именно так (за исключением этой информационной надписи) видят список Ваших аквариумов авторизованные пользователи сайта.</p>
            <p class="uk-text-justify"><a href="#modalLogout" uk-toggle>Разлогиньтесь</a>, чтобы посмотреть как эта страница выглядит для неавторизованных пользователей или перейдите на <a href="../../aquarium/all">список Ваших аквариумов</a>, чтобы иметь возможность редактирования / добавления / удаления записей.</p>
        </div>
        <h1>Аквариумы пользователя <span th:remove="tag" th:text="${contentOwner.login}"></span></h1>
        <div th:if="${#arrays.isEmpty(aquariums)}" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-height-viewport="expand: true">
            <div th:replace="fragment/block/blockMessage :: blockMessageEmptyItemUserList"></div>
        </div>

        <div th:unless="${#arrays.isEmpty(aquariums)}" th:remove="tag">
            <div th:each="dtoItem : ${aquariums}" th:remove="tag">
                <div th:replace="fragment/itemcard/cardAquarium :: cardAquarium"></div>
            </div>
        </div>

    </div>
</div>