<div id="pageContent" xmlns:th="http://www.thymeleaf.org" class="uk-width-3-5 uk-width-1-2@l">
    <h1>Мои аквариумы</h1>
    <div th:if="${user.role != T(ru.adm123.aquariumist.enums.UserRole).GUEST}" th:remove="tag">
        <div th:if="${!#arrays.isEmpty(aquariums)}" th:replace="fragment/block/blockUserAction :: blockUserActionOnPage"></div>
        <div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-height-viewport="expand: true">
            <div class="uk-card uk-card-small uk-card-body uk-width-1-1 uk-margin-small">
                <div th:if="${#arrays.isEmpty(aquariums)}" th:remove="tag">
                    <p class="uk-text-justify">Вы пока не добавили ни одного аквариума, поэтому показать здесь пока нечего...</p>
                    <p class="uk-text-justify">Добавить первый аквариум можно, кликнув по ссылке "Добавить" вверху страницы, или прямо <a href="#modalItemAdd" uk-toggle>сюда</a>.</p>
                </div>
                <div th:unless="${#arrays.isEmpty(aquariums)}" th:remove="tag">
                    <div th:each="dtoItem : ${aquariums}" th:remove="tag">
                        <div th:replace="fragment/itemcard/cardAquarium :: cardAquarium"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${user.role == T(ru.adm123.aquariumist.enums.UserRole).GUEST}" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-height-viewport="expand: true">
        <div th:replace="fragment/block/blockMessage :: blockMessageEmptyItemSelfList"></div>
    </div>
</div>