<div id="pageContent" xmlns:th="http://www.thymeleaf.org" class="uk-width-3-5 uk-width-1-2@l">
    <h1 th:text="${user.role == T(ru.adm123.aquariumist.enums.UserRole).GUEST ? 'Регистрация' : 'Мой&nbsp;профиль'}"></h1>
    <div class="uk-flex uk-flex-center uk-flex-column uk-flex-middle" uk-height-viewport="expand: true">
        <!-- Авторизованный юзер -->
        <div th:if="${user.role != T(ru.adm123.aquariumist.enums.UserRole).GUEST}" class="uk-card uk-card-small uk-card-body uk-width-1-1 uk-margin-small">
            <legend class="uk-legend" th:text="${user.login}"></legend>
            <div th:replace="form/formEditAvatar :: formEditAvatar"></div>
            <div th:replace="form/formEditPassword :: formEditPassword"></div>
        </div>
        <!-- Неавторизованный юзер -->
        <div th:if="${user.role == T(ru.adm123.aquariumist.enums.UserRole).GUEST}" class="uk-card uk-card-small uk-card-body uk-width-1-1 uk-margin-small">
            <div th:replace="form/formRegister :: formRegister"></div>
        </div>
    </div>
</div>