<div id="pageContent" xmlns:th="http://www.thymeleaf.org" class="item uk-width-3-5 uk-width-1-2@l">
    <h1 th:text="${dtoItem == null ? 'Увы и ах...' : dtoItem.name}"></h1>
    <div th:if="${dtoItem == null}" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-height-viewport="expand: true">
        <div th:replace="fragment/block/blockMessage :: blockMessageEmptyItem"></div>
    </div>
    <div th:if="${dtoItem != null}">
        <div th:if="${user.id != dtoItem.owner.id}" th:remove="tag">
            <div th:replace="fragment/block/blockItemInfo :: blockOwnerInfoOnPageDetail"></div>
        </div>
        <div th:if="${user.id == dtoItem.owner.id}" th:remove="tag">
            <div th:replace="fragment/block/blockItemData :: blockAquariumData"></div>
            <div th:replace="fragment/block/blockUserAction :: blockUserActionOnPageDetail"></div>
        </div>
        <div th:attr="class=${#lists.isEmpty(images) ? 'uk-hidden' : ''}" id="itemImageContainer">
            <div th:replace="fragment/block/blockItemInfo :: blockItemImagesOnPageDetail"></div>
        </div>
        <div th:replace="fragment/block/blockItemMeta :: blockAquariumMetaOnPageDetail"></div>
        <div th:replace="fragment/block/blockItemInfo :: blockItemDescriptionOnPageDetail"></div>
        <div th:replace="fragment/block/blockItemInfo :: blockItemLabelsOnPageDetail"></div>
        <div th:replace="fragment/block/blockItemInfo :: blockItemInfoOnPageDetail"></div>
    </div>
</div>