<div th:fragment="blockSpinner" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-position-cover uk-overlay uk-flex uk-flex-center uk-flex-middle uk-hidden waitSpinner" uk-spinner="ratio: 3" style="z-index: 10000;"></div>
</div>