<div th:fragment="blockItemInfoOnCard" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-text-meta uk-inline">
        <span uk-icon="icon: social"></span>
        <th:block th:switch="__${dtoItem.share}__">
            <span th:case="COMMON" class="itemShare" shareValue="COMMON">Запись видна абсолютно всем</span>
            <span th:case="APPUSER" class="itemShare" shareValue="APPUSER">Запись видна авторизованным пользователям</span>
            <span th:case="PRIVATE" class="itemShare" shareValue="PRIVATE">Запись видна только мне</span>
        </th:block>
    </div>
    <div class="uk-text-right uk-text-meta">
        <span th:text="'Запись добавлена ' + ${#temporals.format(dtoItem.addDateTime, 'dd.MM.yy')}" th:remove="tag"></span>
        <span th:unless="${dtoItem.addDateTime == dtoItem.editDateTime}" th:remove="tag">
            <br />
            <span th:text="'Последний раз редактировалась  ' + ${#temporals.format(dtoItem.editDateTime, 'dd.MM.yy HH:mm')}" th:remove="tag"></span>
        </span>
    </div>
    <div th:if="${dtoItem.archived}" class="uk-overlay-default uk-position-cover uk-animation-reverse uk-animation-scale-up itemIsArchive">
        <div class="uk-position-center uk-inline uk-text-muted">
            <span uk-icon="icon: lock"></span>
            <span>Архивная запись</span>
        </div>
    </div>
</div>

<div th:fragment="blockItemNameOnCard" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <legend class="uk-legend uk-inline">
        <a th:attr="href='../../aquarium/' + ${dtoItem.id}" th:text="${dtoItem.name}"></a>
    </legend>
</div>

<div th:fragment="blockItemDescriptionOnCard" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${dtoItem.description != null}" class="uk-margin uk-text-justify aquariumDescription" th:text="${#strings.abbreviate(dtoItem.description, 200)}"></div>
</div>

<div th:fragment="blockItemLabelsOnCard" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div th:unless="${#arrays.isEmpty(dtoItem.labels)}" class="uk-flex uk-width-1-1 uk-margin">
        <div th:attr="id='itemLabels'">
            <span th:each="dtoLabel : ${dtoItem.labels}" th:remove="tag">
                <div th:replace="fragment/block/blockLabelShow :: blockLabelShow"></div>
            </span>
        </div>
    </div>
</div>

<div th:fragment="blockOwnerInfoOnPageDetail" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <a class="uk-inline uk-margin-small uk-margin-remove-horizontal">
        <span uk-icon="user" class="uk-text-middle"></span>
        <span class="uk-text-middle" th:text="${dtoItem.owner.login}"></span>
    </a>
    <div class="uk-navbar-dropdown uk-padding-small" uk-dropdown="mode: click">
        <div class="uk-nav uk-navbar-dropdown-nav">
            <ul class="uk-nav uk-navbar-dropdown-nav">
                <li>
                    <a href="../../profile">Профиль</a>
                </li>
                <li class="uk-nav-divider"></li>
                <div th:each="dtoItemTypeCard : ${itemTypes}" class="uk-nav uk-nav-default" th:remove="tag">
                    <li>
                        <a th:attr="href='../../' + ${dtoItemTypeCard.typeName} + '/all/' + ${dtoItem.owner.login}" th:text="${#strings.capitalize(#strings.arraySplit(dtoItemTypeCard.name,' ')[1])} + ' пользователя'"></a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="blockItemDescriptionOnPageDetail" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${dtoItem.description != null}" class="uk-margin uk-text-justify aquariumDescription" th:text="${dtoItem.description}"></div>
</div>

<div th:fragment="blockItemInfoOnPageDetail" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-text-meta uk-inline">
        <span uk-icon="icon: social"></span>
        <th:block th:switch="__${dtoItem.share}__">
            <span th:case="COMMON" class="itemShare" shareValue="COMMON">Запись видна абсолютно всем</span>
            <span th:case="APPUSER" class="itemShare" shareValue="APPUSER">Запись видна авторизованным пользователям</span>
            <span th:case="PRIVATE" class="itemShare" shareValue="PRIVATE">Запись видна только мне</span>
        </th:block>
    </div>
    <div class="uk-text-right uk-text-meta">
        <span th:text="'Запись добавлена ' + ${#temporals.format(dtoItem.addDateTime, 'dd.MM.yy')}" th:remove="tag"></span>
        <span th:unless="${dtoItem.addDateTime == dtoItem.editDateTime}" th:remove="tag">
            <br />
            <span th:text="'Последний раз редактировалась  ' + ${#temporals.format(dtoItem.editDateTime, 'dd.MM.yy HH:mm')}" th:remove="tag"></span>
        </span>
    </div>
</div>

<div th:fragment="blockItemLabelsOnPageDetail" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div th:unless="${#arrays.isEmpty(dtoItem.labels)}" class="uk-flex uk-width-1-1 uk-margin">
        <div th:attr="id='itemLabels'">
            <span th:each="dtoLabel : ${dtoItem.labels}" th:remove="tag">
                <div th:replace="fragment/block/blockLabelShow :: blockLabelShow"></div>
            </span>
        </div>
    </div>
</div>

<div th:fragment="blockItemImagesOnPageDetail" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-position-relative uk-visible-toggle uk-margin-small uk-margin-remove-horizontal" tabindex="-1" uk-slideshow="animation: pull; autoplay: true" uk-lightbox="animation: slide" toggle="a.lightBoxMember">
        <ul class="uk-slideshow-items" id="itemImageSliderShow">
            <div th:each="image : ${images}" th:remove="tag">
                <div th:replace="fragment/block/blockImageShow :: blockImageMainShow"></div>
            </div>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-left uk-margin"></ul>
    </div>
</div>