<div th:fragment="blockLabelShow" class="uk-inline uk-padding-small uk-padding-remove-vertical" xmlns:th="http://www.thymeleaf.org" th:attr="style=${#lists.contains(#execInfo.templateNames, 'fragment/modal/modalLabelSelect') ? 'cursor: default;' : ''}">
    <span th:attr="class=${!#lists.contains(#execInfo.templateNames, 'fragment/modal/modalLabelSelect') ? 'uk-hidden uk-text-middle' : 'uk-text-middle'}">
        <input th:attr="id=${dtoLabel != null ? dtoLabel.id : ''}" class="uk-checkbox" type="checkbox" />
    </span>
    <span class="labelIcon uk-text-middle labelChecker" uk-icon="tag" th:attr="style='color:' + ${dtoLabel != null ? dtoLabel.color : ''}"></span>
    <span class="labelText uk-text-middle labelChecker" th:text="${dtoLabel != null ? dtoLabel.name : ''}"></span>
    <span class="labelInfo uk-hidden" th:attr="labelId=${dtoLabel != null ? dtoLabel.id : ''}, labelName=${dtoLabel != null ? dtoLabel.name : ''}, labelColor=${dtoLabel != null ? dtoLabel.color : ''}"></span>
</div>