<div th:fragment="blockImagePreviewShow" class="uk-flex uk-flex-center uk-flex-middle itemPreview" th:attr="id=${image != null ? 'preview_' + #strings.replace(image.fileName, '.', '_') : ''}" style="cursor: pointer;" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-inline uk-dark">
        <img th:attr="src=${image != null ? '../../picture/' + image.ownerLogin + '/' + image.itemId + '/' + image.fileName : ''}" />
        <div class="uk-overlay-default uk-position-cover uk-hidden itemPreviewCover uk-padding-small">
            <a class="uk-icon-link itemPreviewDelete" uk-icon="trash" uk-tooltip="title: Удалить; pos: bottom-right"></a>
            <a class="uk-icon-link itemPreviewAsCover" uk-icon="image" uk-tooltip="title: Сделать обложкой; pos: bottom-right"></a>
        </div>
    </div>
</div>

<div th:fragment="blockImageMainShow" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <li class="uk-flex uk-flex-center uk-flex-middle uk-background-default" th:attr="id=${image != null ? 'image_' + #strings.replace(image.fileName, '.', '_') : ''}">
        <a class="uk-inline lightBoxMember" th:attr="href=${image != null ? '../../picture/' + image.ownerLogin + '/' + image.itemId + '/' + image.fileName : ''}">
            <img th:attr="src=${image != null ? '../../picture/' + image.ownerLogin + '/' + image.itemId + '/' + image.fileName : ''}" />
        </a>
    </li>
</div>