<div th:fragment="blockAquariumData" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <span class="dtoData uk-hidden" th:attr="
        id=${dtoItem.id},
        name=${dtoItem.name},
        volume=${dtoItem.volume},
        description=${dtoItem.description},
        startDate=${dtoItem.startDate},
        share=${dtoItem.share},
        archived=${dtoItem.archived},
        addDateTime=${dtoItem.addDateTime}">
    </span>
</div>