<div th:fragment="blockUserActionOnItemCard" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <a class="uk-icon-link uk-margin-small-right deleteItem" uk-icon="trash" uk-tooltip="title: Удалить; pos: bottom-right" href="#modalItemDelete" uk-toggle></a>
    <a th:if="${dtoItem.archived}" class="uk-icon-link uk-margin-small-right unArchiveItem" uk-icon="unlock" uk-tooltip="title: Вернуть из архива; pos: bottom-right" href="#modalItemUnarchive" uk-toggle></a>
    <a th:unless="${dtoItem.archived}" class="uk-icon-link uk-margin-small-right editItem" uk-icon="file-edit" uk-tooltip="title: Редактировать; pos: bottom-right" href="#modalItemEdit" uk-toggle></a>
    <a class="uk-icon-link uk-margin-small-right checkItem" uk-icon="check" uk-tooltip="title: Выбрать; pos: bottom-right"></a>
</div>

<div th:fragment="blockUserActionOnPage" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-margin-small uk-margin-remove-horizontal">
        <a class="uk-inline addItemModalSender" href="#modalItemAdd" uk-toggle>
            <span uk-icon="plus-circle" class="uk-text-middle"></span>
            <span class="uk-link-muted uk-text-middle actionAdd"></span>
        </a>
        <br />
        <a class="uk-inline uk-link-muted" id="actionArchiveSelect">
            <span uk-icon="pull" class="uk-text-middle"></span>
            <span class="uk-link-muted uk-text-middle actionArchiveSelect"></span>
        </a>
        <br />
        <a class="uk-inline uk-link-muted" id="actionUnArchiveSelect">
            <span uk-icon="push" class="uk-text-middle"></span>
            <span class="uk-link-muted uk-text-middle actionUnArchiveSelect"></span>
        </a>
        <br />
        <a class="uk-inline uk-link-muted" id="actionDeleteSelect">
            <span uk-icon="trash" class="uk-text-middle"></span>
            <span class="uk-link-muted uk-text-middle actionDeleteSelect"></span>
        </a>
    </div>
</div>

<div th:fragment="blockUserActionOnPageDetail" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-margin-small uk-margin-remove-horizontal">
        <a class="uk-icon-link uk-margin-small-right deleteItem" uk-icon="trash" uk-tooltip="title: Удалить; pos: bottom-right" href="#modalItemDelete" uk-toggle></a>
        <a th:if="${dtoItem.archived}" class="uk-icon-link uk-margin-small-right unArchiveItem" uk-icon="unlock" uk-tooltip="title: Вернуть из архива; pos: bottom-right" href="#modalItemUnarchive" uk-toggle></a>
        <a th:unless="${dtoItem.archived}" class="uk-icon-link uk-margin-small-right editItem" uk-icon="file-edit" uk-tooltip="title: Редактировать; pos: bottom-right" href="#modalItemEdit" uk-toggle></a>
        <a th:unless="${dtoItem.archived}" class="uk-icon-link uk-margin-small-right addImageItem" uk-icon="image" uk-tooltip="title: Изображения; pos: bottom-right" href="#modalItemImages" uk-toggle></a>
    </div>
</div>