<div th:fragment="blockAquariumMetaOnCard" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-margin-small uk-margin-remove-horizontal">
        <div th:unless="${dtoItem.volume} == null" th:text="'Объем - ' + ${dtoItem.volume} + ' л'" class="uk-text-meta"></div>
        <div th:unless="${dtoItem.startDate} == null" th:text="'Запущен ' + ${#temporals.format(dtoItem.startDate, 'dd.MM.yy')}" class="uk-text-meta"></div>
    </div>
</div>

<div th:fragment="blockAquariumMetaOnPageDetail" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-margin-small uk-margin-remove-horizontal">
        <div th:unless="${dtoItem.volume} == null" th:text="'Объем - ' + ${dtoItem.volume} + ' л'" class="uk-text-meta"></div>
        <div th:unless="${dtoItem.startDate} == null" th:text="'Запущен ' + ${#temporals.format(dtoItem.startDate, 'dd.MM.yy')}" class="uk-text-meta"></div>
    </div>
</div>