<div th:fragment="blockMessageEmptyItem" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-card uk-card-small uk-card-body uk-width-1-1 uk-margin-small">
        <p class="uk-text-justify">Такой записи не существует...</p>
        <p class="uk-text-justify">
            А может быть и существует, но ее просмотр ограничен настройками приватности.
            <br />Так или иначе, показать Вам здесь что-либо красивое-умное-полезное не получится...
        </p>
        <p th:if="${user.role == T(ru.adm123.aquariumist.enums.UserRole).GUEST}" class="uk-text-justify">
            Возможно, настройки приватности позволяют просмтор записи только авторизованным пользователям...
            <br />Попробуйте <a href="#modalLogin" uk-toggle>авторизоваться на сайте</a> - вдруг контент станет доступен?!
        </p>
        <p class="uk-text-justify">Если же у Вас нет учетной записи - создать ее можно <a href="../../profile">здесь</a>.</p>
    </div>
</div>

<div th:fragment="blockMessageEmptyItemUserList" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-card uk-card-small uk-card-body uk-width-1-1 uk-margin-small">
        <p class="uk-text-justify"><span th:text="${contentOwner.login}" th:remove="tag"></span> пока не добавил(а) ни одного аквариума, или настройки приватности не позволяют показать Вам эти аквариумы...</p>
        <p class="uk-text-justify">Так или иначе, но здесь - пусто.</p>
        <p th:if="${user.role == T(ru.adm123.aquariumist.enums.UserRole).GUEST}" class="uk-text-justify">
            <br />Возможно, настройки приватности позволяют просмтор записей только авторизованным пользователям...
            <br />Попробуйте <a href="#modalLogin" uk-toggle>авторизоваться на сайте</a> - вдруг контент станет доступен?!
        </p>
        <p class="uk-text-justify">Если же у Вас нет учетной записи - создать ее можно <a href="../../profile">здесь</a>.</p>
    </div>
</div>

<div th:fragment="blockMessageEmptyItemSelfList" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-card uk-card-small uk-card-body uk-width-1-1 uk-margin-small">
        <p class="uk-text-justify">На этой странице должен быть список Ваших аквариумов. Но Вы не авторизовались на сайте, а потому мы не знаем, какие из аквариумов, сохраненных в базе - Ваши...</p>
        <p class="uk-text-justify">Соответственно, и показать здесь мы Вам ничего не можем.</p>
        <p class="uk-text-justify">Вариантов существует два - смириться и уйти или <a href="#modalLogin" uk-toggle>авторизоваться на сайте</a> и продолжить работу.</p>
        <p class="uk-text-justify">Если же у Вас нет учетной записи - создать ее можно <a href="../../profile">здесь</a>.</p>
    </div>
</div>