<div th:fragment="blockItemEditShare" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-margin">
        <div class="uk-form-label">Метки</div>
        <a class="selectLabelSender" href="#modalLabelSelect" uk-toggle>Добавить / изменить</a>
        <div id="labelContainer" class="uk-flex uk-flex-wrap uk-flex-left"></div>
    </div>
    <div class="uk-margin">
        <div class="uk-form-label">Видимость записи</div>
        <select name="share" id="itemShareEdit" class="uk-select uk-form-width-large">
            <option value="COMMON">Запись видна абсолютно всем</option>
            <option value="APPUSER">Запись видна авторизованным пользователям</option>
            <option value="PRIVATE">Запись видна только мне</option>
        </select>
    </div>
    <div class="uk-margin">
        <label><input name="archived" id="itemArchivedEdit" class="uk-checkbox" type="checkbox" /> Архивная запись</label>
    </div>
</div>

<div th:fragment="blockItemEditText" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-margin">
        <div class="uk-form-label">Название</div>
        <input name="name" id="itemNameEdit" class="uk-input uk-form-width-large" type="text" />
    </div>
    <div class="uk-margin">
        <div class="uk-form-label">Описание</div>
        <textarea name="description" id="itemDescriptionEdit" class="uk-textarea uk-form-width-large" style="resize: vertical;" rows="5"></textarea>
    </div>
</div>

<!--
<div th:fragment="blockItemEditImages" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div th:each="image : ${images}" th:remove="tag">
        <div th:replace="fragment/block/blockImageShow :: blockImagePreviewShow"></div>
    </div>
</div>-->
