<div th:fragment="pageLeft" id="sliderMenu" uk-offcanvas="overlay: true" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
<!--        <ul class="uk-nav uk-nav-default">-->
            <div th:each="dtoItemTypeCard : ${itemTypes}" class="uk-nav uk-nav-default">
                <li class="uk-active">
                    <a th:attr="href='../../' + ${dtoItemTypeCard.typeName} + '/all'" th:text="${dtoItemTypeCard.name}"></a>
                </li>
<!--                <li class="uk-parent">
                    <a href="#">Parent</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Sub item</a></li>
                        <li><a href="#">Sub item</a></li>
                    </ul>
                </li>
                <li class="uk-nav-header">Header</li>-->
<!--
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
-->
<!--
            <a class="uk-margin-small uk-text-uppercase uk-text-small" th:attr="href='../../' + ${dtoItemTypeCard.typeName} + '/all'"><span th:text="${dtoItemTypeCard.name}" th:remove="tag"></span></a>
-->
            </div>
<!--        </ul>-->
    </div>
</div>