<div th:fragment="pageTop" id="pageTop" uk-navbar="mode: click" class="uk-width-1-1 uk-navbar-left uk-navbar-transparent uk-overlay-primary uk-box-shadow-large" uk-sticky="offset: 20; bottom: #top" style="z-index: 980;" xmlns:th="http://www.thymeleaf.org">
    <ul class="uk-navbar-nav">
        <li><a uk-tooltip="title: Меню; pos: bottom-right" class="uk-navbar-toggle" uk-navbar-toggle-icon href="#sliderMenu" uk-toggle></a></li>
        <li><a uk-tooltip="title: На главную; pos: bottom-right" uk-icon="icon: home" href="../../" ></a></li>
        <li>
            <a uk-tooltip="title: Авторизация / Регистрация / Профиль; pos: bottom-right" href="">Аккаунт</a>
            <div class="uk-navbar-dropdown uk-padding-small">
                <ul th:if="${user.role != T(ru.adm123.aquariumist.enums.UserRole).GUEST}" class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="../../profile">Мой профиль</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#modalLogout" uk-toggle>Выход</a></li>
                </ul>
                <ul th:if="${user.role == T(ru.adm123.aquariumist.enums.UserRole).GUEST}" class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="#modalLogin" uk-toggle>Авторизация</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="../../profile">Регистрация</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>