<div th:fragment="cardAquarium"
     class="item uk-inline uk-dark uk-width-1-1 uk-inline uk-animation-toggle uk-margin-small uk-margin-remove-left uk-margin-remove-right"
     xmlns:th="http://www.thymeleaf.org">
    <div th:if="${#strings.endsWith(templateName, 'Self') && dtoItem.owner.id == user.id}" th:remove="tag">
        <div th:replace="fragment/block/blockItemData :: blockAquariumData"></div>
        <div th:replace="fragment/block/blockUserAction :: blockUserActionOnItemCard"></div>
    </div>
    <div class="uk-flex-middle uk-padding-remove" uk-grid>
        <div class="uk-width-expand">
            <div th:replace="fragment/block/blockItemInfo :: blockItemNameOnCard"></div>
        </div>
        <div th:if="${dtoItem.cover != null}" class="uk-width-auto uk-flex-first">
            <img class="uk-border-circle" width="50" height="50" th:attr="src=${'../../cover/' + dtoItem.owner.login + '/' + dtoItem.id + '/' + dtoItem.cover}" />
        </div>
    </div>
    <div th:replace="fragment/block/blockItemMeta :: blockAquariumMetaOnCard"></div>
    <div th:replace="fragment/block/blockItemInfo :: blockItemDescriptionOnCard"></div>
    <div th:replace="fragment/block/blockItemInfo :: blockItemLabelsOnCard"></div>
    <div th:replace="fragment/block/blockItemInfo :: blockItemInfoOnCard"></div>
</div>