<div th:fragment="cardType" class="uk-width-1-1 uk-text-justify uk-margin-small uk-margin-remove-left uk-margin-remove-right" xmlns:th="http://www.thymeleaf.org" >
    <img class="uk-border-circle uk-float-left uk-padding-small uk-padding-remove-vertical uk-padding-remove-left" width="60" height="60" th:src="${dtoItemTypeCard.iconFile}" />
    <a th:attr="href=${dtoItemTypeCard.typeName} + '/all'"><legend class="uk-legend uk-text-uppercase" th:text="${dtoItemTypeCard.name}"></legend></a>
    <div th:text="${dtoItemTypeCard.description}" class="uk-text-justify"></div>
</div>