<div xmlns:th="http://www.thymeleaf.org">
    <form id="formAddAquarium" th:fragment="formAddAquarium" class="uk-form-stacked">
        <div class="uk-form-controls">
            <div class="uk-margin">
                <div class="uk-form-label">Название</div>
                <input name="name" id="aquariumNameAdd" class="uk-input uk-form-width-large" type="text" />
            </div>
            <div class="uk-margin">
                <div class="uk-form-label">Описание</div>
                <textarea name="description" id="aquariumDescriptionAdd" class="uk-textarea uk-form-width-large" style="resize: vertical;" rows="5"></textarea>
            </div>
            <div class="uk-margin">
                <div class="uk-form-label">Объем</div>
                <input name="volume" id="aquariumVolumeAdd" class="uk-input uk-form-width-large" type="number" />
            </div>
            <div class="uk-margin">
                <div class="uk-form-label">Дата запуска</div>
                <input name="start" id="aquariumStartDateAdd" class="uk-input uk-form-width-large maxToday" type="date" />
            </div>
            <div class="uk-margin">
                <div class="uk-form-label">Метки</div>
                <a class="selectLabelSender" href="#modalLabelSelect" uk-toggle>Добавить / изменить</a>
                <div id="labelContainer" class="uk-flex uk-flex-wrap uk-flex-left"></div>
            </div>
            <div class="uk-margin">
                <div class="uk-form-label">Видимость записи</div>
                <select name="share" id="aquariumShareAdd" class="uk-select uk-form-width-large">
                    <option value="COMMON">Запись видна абсолютно всем</option>
                    <option value="APPUSER">Запись видна авторизованным пользователям</option>
                    <option value="PRIVATE">Запись видна только мне</option>
                </select>
            </div>
            <div class="uk-margin">
                <label><input name="archived" id="aquariumArchivedAdd" class="uk-checkbox" type="checkbox" /> Отправить запись в архив</label>
            </div>
        </div>
    </form>
</div>