<div id="formEditAvatar" class="uk-form-stacked uk-margin" th:fragment="formEditAvatar" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-flex uk-flex-middle">
        <div class="uk-margin">
            <div class="uk-inline">
                <img id="userAvatar" class="uk-border-circle" width="100" height="100" th:src="${'../../' + user.avatar}" />
                <div id="avatarLoaderIndicator" class="uk-overlay-default uk-position-cover uk-hidden">
                    <div class="uk-position-center">
                        <span uk-spinner></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-padding">
                <div class="js-upload" uk-form-custom>
                    <a class="uk-link"><input name="inputAvatar" id="inputAvatar" type="file" accept="image/*" multiple />Сменить аватарку</a>
                    <br/>(<= 500кБ, bmp, jpg, ico, gif, png)
                </div>
            </div>
        </div>
    </div>
</div>