<form id="formEditPassword" class="uk-form-stacked uk-margin" th:fragment="formEditPassword" xmlns:th="http://www.thymeleaf.org">
<!--
    <input name="login" id="loginForEditPassword" class="uk-input uk-form-width-large" type="hidden" />
-->
    <div class="uk-form-controls">
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input name="password" id="passwordForEditPassword" class="uk-input uk-form-width-large" type="password" placeholder="Новый пароль..." />
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input name="passwordConfirm" id="passwordConfirmForEditPassword" class="uk-input uk-form-width-large" type="password" placeholder="Еще раз новый пароль..." />
            </div>
        </div>
    </div>
    <button id="buttonEditPassword" class="uk-button uk-button-primary" type="button">Отправить</button>
</form>