<form id="formLogin" class="uk-form-stacked" th:fragment="formLogin" xmlns:th="http://www.thymeleaf.org">
        <div class="uk-form-controls">
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input name="login" id="loginForAuth" class="uk-input uk-form-width-large" type="text" placeholder="Ваш логин..." />
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input name="password" id="passwordForAuth" class="uk-input uk-form-width-large" type="password" placeholder="Ваш пароль..." />
                </div>
            </div>
            <div class="uk-margin">
                <label><input id="checkRememberMe" class="uk-checkbox" type="checkbox" checked/> Запомнить меня на этом компе</label>
            </div>
        </div>
</form>