<div xmlns:th="http://www.thymeleaf.org">
    <form id="formAddLabel" th:fragment="formAddLabel" class="uk-form-stacked">
        <div class="uk-form-controls">
            <div class="uk-margin">
                <div class="uk-form-label">Название</div>
                <div class="uk-inline">
                    <span id="newLabelColor" class="uk-form-icon" uk-icon="icon: tag" color="GRAY" style="color:GRAY"></span>
                    <input name="name" id="labelNameAdd" class="uk-input uk-form-width-large" type="text" />
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-form-label">Цвет</div>
                <div class="uk-flex uk-flex-between">
                    <a class="uk-icon-link uk-margin-small uk-margin-remove-vertical uk-animation-fast labelColorAdd" uk-icon="tag" uk-tooltip="title: Серый" style="color:GRAY" color="GRAY"></a>
                    <a class="uk-icon-link uk-margin-small uk-margin-remove-vertical uk-animation-fast labelColorAdd" uk-icon="tag" uk-tooltip="title: Коричневый" style="color:BROWN" color="BROWN"></a>
                    <a class="uk-icon-link uk-margin-small uk-margin-remove-vertical uk-animation-fast labelColorAdd" uk-icon="tag" uk-tooltip="title: Синий" style="color:BLUE" color="BLUE"></a>
                    <a class="uk-icon-link uk-margin-small uk-margin-remove-vertical uk-animation-fast labelColorAdd" uk-icon="tag" uk-tooltip="title: Зеленый" style="color:GREEN" color="GREEN"></a>
                    <a class="uk-icon-link uk-margin-small uk-margin-remove-vertical uk-animation-fast labelColorAdd" uk-icon="tag" uk-tooltip="title: Красный" style="color:RED" color="RED"></a>
                    <a class="uk-icon-link uk-margin-small uk-margin-remove-vertical uk-animation-fast labelColorAdd" uk-icon="tag" uk-tooltip="title: Желтый" style="color:YELLOW" color="YELLOW"></a>
                </div>
            </div>
        </div>
    </form>
</div>