<form id="formRegister" class="uk-form-stacked" th:fragment="formRegister" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-form-controls">
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input name="login" id="loginForRegister" class="uk-input uk-form-width-large" type="text" placeholder="Ваш логин..." />
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input name="password" id="passwordForRegister" class="uk-input uk-form-width-large" type="password" placeholder="Ваш пароль..." />
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input name="passwordConfirm" id="passwordConfirmForRegister" class="uk-input uk-form-width-large" type="password" placeholder="Еще раз пароль..." />
            </div>
        </div>
    </div>
    <button id="buttonRegister" class="uk-button uk-button-primary" type="button">Отправить</button>
</form>