<div xmlns:th="http://www.thymeleaf.org">
    <form id="formEditAquarium" class="uk-form-stacked" th:fragment="formEditAquarium">
        <input name="id" id="aquariumIdEdit" type="hidden" />
        <div class="uk-form-controls">
            <div th:replace="fragment/block/blockItemEdit :: blockItemEditText"></div>
            <div class="uk-margin" id="aquariumVolumeContainerEdit">
                <div class="uk-form-label">Объем</div>
                <input name="volume" id="aquariumVolumeEdit" class="uk-input uk-form-width-large" type="number" />
            </div>
            <div class="uk-margin" id="aquariumStartDateContainerEdit">
                <div class="uk-form-label">Дата запуска</div>
                <input name="start" id="aquariumStartDateEdit" class="uk-input uk-form-width-large maxToday" type="date" />
            </div>
            <div th:replace="fragment/block/blockItemEdit :: blockItemEditShare"></div>
        </div>
    </form>
</div>