<div xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragment/pageTop :: pageTop"></div>
    <div th:replace="${'fragment/content/page' + templateName}"></div>
    <div th:replace="fragment/pageRight :: pageRight"></div>
    <div th:if="${(#strings.endsWith(templateName, 'Self') && user.role != T(ru.adm123.aquariumist.enums.UserRole).GUEST) ||
        (#strings.endsWith(templateName, 'Item') && dtoItem != null && dtoItem.owner.id == user.id)}"
         th:remove="tag">
        <div th:replace="pageModal :: pageModal"></div>
    </div>
</div>