<!--<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=utf-8"/>
    <meta http-equiv="Content-Language" content="ru"/>
    <title></title>
    <!--
        <title th:text="${page.title}"></title>
    -->
    <meta name="Copyright" content="adm123.ru"/>
    <meta name="Description"/>
    <!--
        <meta name="Description" th:attr="content=${page.description}"/>
    -->
    <link rel="stylesheet" th:href="@{/uikit/css/uikit.min.css}"/>
    <script th:src="@{/js/lib/jquery-3.4.1.js}"></script>

    <script th:src="@{/uikit/js/uikit.min.js}"></script>
    <script th:src="@{/uikit/js/uikit-icons.min.js}"></script>

    <script th:src="@{/js/lang/titles.js}"></script>
    <script th:src="@{/js/lang/descriptions.js}"></script>
    <script th:src="@{/js/lang/messages.js}"></script>
    <script th:src="@{/js/lang/actions.js}"></script>
    <script th:src="@{/js/data/consts.js}"></script>
    <script th:src="@{/js/data/regexp.js}"></script>

    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/authorization.js}"></script>
    <script th:if="${#strings.equals(templateName, 'Profile')}" th:src="@{/js/profile.js}"></script>


<!--    <script th:src="@{/js/item.js}"></script>
    <script th:src="@{/js/label.js}"></script>
    <script th:src="@{/js/aquarium.js}"></script>
    <script th:src="@{/js/image.js}"></script>-->

    <script th:if="${#strings.endsWith(templateName, 'Self') || #strings.endsWith(templateName, 'Item')}" th:src="@{/js/item.js}"></script>
    <script th:if="${#strings.endsWith(templateName, 'Self') || #strings.endsWith(templateName, 'Item')}" th:src="@{/js/label.js}"></script>
    <script th:if="${#strings.containsIgnoreCase(templateName, 'aquarium') &&
                    (#strings.endsWith(templateName, 'Self') || #strings.endsWith(templateName, 'Item'))}"
            th:src="@{/js/aquarium.js}"></script>
    <script th:if="${#strings.endsWith(templateName, 'Item')}" th:src="@{/js/image.js}"></script>

</head>

<body>

<div id="pageInfo" class="uk-hidden"
     th:attr="pageTemplate=${templateName},
     contentOwnerLogin=${contentOwner != null ? contentOwner.login : null},
     itemId=${itemId != null ? itemId : null}"></div>

<div class="uk-height-small uk-height-max-small"></div>

<nav th:replace="fragment/pageTop :: pageTop"></nav>

<div class="uk-child-width-expand uk-grid-small uk-padding-small" uk-height-viewport="expand: true" uk-grid>
    <div class="uk-width-expand" th:insert="fragment/pageLeft :: pageLeft"></div>
    <div th:replace="${'fragment/content/page' + templateName}" id="pageContent"></div>
    <div class="uk-width-expand"></div>
</div>

<div th:replace="fragment/modal/modalAuthorization :: modalLogin"></div>
<div th:replace="fragment/modal/modalAuthorization :: modalLogout"></div>
<div th:if="${((#strings.endsWith(templateName, 'Self') && user.role != T(ru.adm123.aquariumist.enums.UserRole).GUEST)) ||
        ((#strings.endsWith(templateName, 'Item') && dtoItem != null && dtoItem.owner.id == user.id))}"
     th:remove="tag">
    <div th:replace="pageModal :: pageModal"></div>
</div>

<div th:if="${#strings.endsWith(templateName, 'Item')
    || #strings.endsWith(templateName, 'Self')
    || #strings.endsWith(templateName, 'User')}" th:remove="tag">
    <div th:insert="fragment/block/blockLabelShow :: blockLabelShow" class="uk-hidden" id="blockLabelShowTemplate"></div>
    <div th:if="${#strings.endsWith(templateName, 'Item')}" th:remove="tag">
        <div th:insert="fragment/block/blockImageShow :: blockImagePreviewShow" class="uk-hidden" id="blockImagePreviewShowTemplate"></div>
        <div th:insert="fragment/block/blockImageShow :: blockImageMainShow" class="uk-hidden" id="blockImageMainShowTemplate"></div>
    </div>
</div>

<object id="bubbles" style="bottom: 0; left: 50px;" width="100" height="1200" class="uk-position-fixed">
    <embed th:attr="src=@{/swf/bubbles.swf}" quality="high" wmode="window" width="100" height="1200" type="application/x-shockwave-flash"/>
</object>

</body>

</html>