<div th:fragment="pageModal" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <div th:if="${#strings.endsWith(templateName, 'Item') || #strings.endsWith(templateName, 'Self')}" th:remove="tag">
        <div th:if="${#strings.endsWith(templateName, 'Self')}" th:remove="tag">
            <div th:replace="fragment/modal/modalItemAdd :: modalItemAdd"></div>
            <div th:replace="fragment/modal/modalConfirmMultiDelete :: modalConfirmMultiDelete"></div>
            <div th:replace="fragment/modal/modalConfirmMultiArchive :: modalConfirmMultiArchive"></div>
            <div th:replace="fragment/modal/modalConfirmMultiUnarchive :: modalConfirmMultiUnarchive"></div>
        </div>
        <div th:if="${#strings.endsWith(templateName, 'Item')}" th:remove="tag">
            <div th:replace="fragment/modal/modalItemImages :: modalItemImages"></div>
        </div>
        <div th:replace="fragment/modal/modalItemEdit :: modalItemEdit"></div>
        <div th:replace="fragment/modal/modalItemDelete :: modalItemDelete"></div>
        <div th:replace="fragment/modal/modalItemUnarchive :: modalItemUnarchive"></div>
        <div th:replace="fragment/modal/modalLabelSelect :: modalLabelSelect"></div>
        <div th:replace="fragment/modal/modalLabelAdd :: modalLabelAdd"></div>
    </div>
    <div th:replace="fragment/modal/modalConfirmClose :: modalConfirmClose"></div>
</div>