<div xmlns:th="http://www.thymeleaf.org" id="modalLabelAdd" th:fragment="modalLabelAdd" uk-modal="bg-close: false; esc-close: false;">
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <div class="uk-inline uk-width-1-1 uk-height-1-1">
            <div>
                <button href="#modalLabelSelect" class="uk-modal-close-default" type="button" uk-close uk-toggle></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Новая метка...</h2>
                </div>
                <div class="uk-modal-body">
                    <div th:replace="form/formAddLabel :: formAddLabel"></div>
                </div>
                <div class="uk-modal-footer">
                    <div uk-grid>
                        <div class="uk-text-right uk-width-expand">
                            <button href="#modalLabelSelect" class="uk-button uk-button-default actionCancel" uk-toggle></button>
                            <button id="buttonSaveNewLabel" class="uk-button uk-button-primary actionSave"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragment/block/blockSpinner :: blockSpinner"></div>
        </div>
    </div>
</div>