<div id="modalConfirmClose" th:fragment="modalConfirmClose" uk-modal="bg-close: false; esc-close: false;" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default cancelCloseAction" type="button" uk-close uk-toggle></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Вы уверены..?</h2>
        </div>
        <div class="uk-modal-body">
            <p>Закрыть форму без сохранения?</p>
            <p>Внесенные изменения при этом будут утеряны...</p>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close actionYes"></button>
            <button class="uk-button uk-button-primary actionNo cancelCloseAction" uk-toggle></button>
        </div>
    </div>
</div>