<div id="modalConfirmMultiArchive" th:fragment="modalConfirmMultiArchive" uk-modal="bg-close: false; esc-close: false;" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <div class="uk-inline uk-width-1-1 uk-height-1-1">
            <div>
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Вы уверены..?</h2>
                </div>
                <div class="uk-modal-body">
                    <p>Все отмеченные записи будут помещены в архив...</p>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default actionYes" id="multiArchive"></button>
                    <button class="uk-button uk-button-primary uk-modal-close actionNo"></button>
                </div>
            </div>
            <div th:replace="fragment/block/blockSpinner :: blockSpinner"></div>
        </div>
    </div>
</div>