<div xmlns:th="http://www.thymeleaf.org" id="modalItemImages" th:fragment="modalItemImages" class="modal" uk-modal="bg-close: false; esc-close: false;">
    <input name="inputItemImage" id="inputItemImage" type="file" accept="image/*" class="uk-hidden" multiple />
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Изображения...</h2>
        </div>
        <div class="uk-modal-body uk-child-width-1-4" uk-grid>
<!--            <div th:replace="fragment/block/blockItemEdit :: blockItemEditImages"></div>-->
        </div>
        <div class="uk-modal-footer">
            <div uk-grid>
                <div class="uk-text-left uk-width-auto">
                    <button id="iemImageAdd" class="uk-button uk-button-default actionAdd"></button>
                </div>
                <div class="uk-text-right uk-width-expand">
                    <button class="uk-button uk-button-default uk-modal-close actionCancel"></button>
                    <button id="imageSave" class="uk-button uk-button-primary actionSave"></button>
                </div>
            </div>
        </div>
    </div>
</div>