<div xmlns:th="http://www.thymeleaf.org" id="modalLabelSelect" th:fragment="modalLabelSelect" uk-modal="bg-close: false; esc-close: false;">
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default cancelLabelSelect" type="button" uk-close uk-toggle></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Метки записи...</h2>
        </div>
        <div class="uk-modal-body uk-flex uk-flex-wrap uk-flex-left">
            <span th:each="dtoLabel : ${allLabels}">
                <div th:replace="fragment/block/blockLabelShow :: blockLabelShow"></div>
            </span>
        </div>
        <div class="uk-modal-footer">
            <div uk-grid>
                <div class="uk-text-left uk-width-auto">
                    <button href="#modalLabelAdd" class="uk-button uk-button-default actionAdd" uk-toggle></button>
                </div>
                <div class="uk-text-right uk-width-expand">
                    <button class="uk-button uk-button-default actionCancel cancelLabelSelect" uk-toggle></button>
                    <button id="labelSelect" class="uk-button uk-button-primary actionSave cancelLabelSelect" uk-toggle></button>
                </div>
            </div>
        </div>
    </div>
</div>