<div xmlns:th="http://www.thymeleaf.org" th:fragment="modalItemDelete" id="modalItemDelete" uk-modal="bg-close: false; esc-close: false;">
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <div class="uk-inline uk-width-1-1 uk-height-1-1">
            <div>
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Вы уверены..?</h2>
                </div>
                <div class="uk-modal-body">
                    <p>Запись будет удалена без возможности восстановления...</p>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close actionNo" type="button"></button>
                    <button id="buttonDelete" class="uk-button uk-button-primary uk-modal-close actionYes" type="button"></button>
                </div>
            </div>
            <div th:replace="fragment/block/blockSpinner :: blockSpinner"></div>
        </div>
    </div>
</div>