<div xmlns:th="http://www.thymeleaf.org" th:fragment="modalLogin" id="modalLogin" uk-modal="bg-close: false; esc-close: false;">
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <div class="uk-inline uk-width-1-1 uk-height-1-1">
            <div>
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Авторизация...</h2>
                </div>
                <div class="uk-modal-body">
                    <div th:replace="form/formLogin"></div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close actionCancel" type="button"></button>
                    <button id="buttonLogin" class="uk-button uk-button-primary actionSend" type="button"></button>
                </div>
            </div>
            <div th:replace="fragment/block/blockSpinner :: blockSpinner"></div>
        </div>
    </div>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="modalLogout" id="modalLogout" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <div class="uk-inline uk-width-1-1 uk-height-1-1">
            <div>
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Вы уверены..?</h2>
                </div>
                <div class="uk-modal-body">
                    <p>Сессия пользователя будет прекращена.</p>
                    <p>Для продолжения работы в качестве пользователя Вам придется заново авторизоваться.</p>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close actionNo" type="button"></button>
                    <button id="buttonLogout" class="uk-button uk-button-primary actionYes" type="button"></button>
                </div>
            </div>
            <div th:replace="fragment/block/blockSpinner :: blockSpinner"></div>
        </div>
    </div>
</div>
