<div class="modal" id="modalItemAdd" th:fragment="modalItemAdd" uk-modal="bg-close: false; esc-close: false;" xmlns:th="http://www.thymeleaf.org">
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <div class="uk-inline uk-width-1-1 uk-height-1-1">
            <div>
                <button href="#modalConfirmClose" class="uk-modal-close-default confirmCloseSender" type="button" uk-close uk-toggle></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Новая запись...</h2>
                </div>
                <div class="uk-modal-body">
                    <div th:replace="form/formAddItem :: 'formAdd' + ${#strings.replace(templateName, 'Self', '')}"></div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button href="#modalConfirmClose" class="uk-button uk-button-default actionCancel confirmCloseSender" uk-toggle></button>
                    <button id="buttonSaveNewItem" class="uk-button uk-button-primary actionSave"></button>
                </div>
            </div>
            <div th:replace="fragment/block/blockSpinner :: blockSpinner"></div>
        </div>
    </div>
</div>